<div style="float: left;">
<div style="float: left;" class="panel panel-default"> 
    <div class="panel-body" ng-if="isAuthenticated() && hasPermissions()" style="float: left;">
    <div class="row" align="left">
        <div class="col-md-3">
            <dl>                
                <dt>Id:</dt>
                <dd>{{currentPrestamo.id}}</dd>
                
                <hr>
                <dt>Fecha Inicio:</dt>
                <dd>{{currentPrestamo.fechaInicio}}</dd>
                
                <hr>
                <dt>Fecha Final:</dt>
                <dd>{{currentPrestamo.fechaFinal}}</dd>
                
                <hr>
                <dt>¿Externo?</dt>
                <dd>{{currentPrestamo.externo}}</dd>
          
                <hr>
                <dt>¿Retornado?</dt>
                <dd>{{currentPrestamo.retornado}}</dd>
                
                <hr>
                <dt>¿Generó multa?</dt>
                <dd>{{currentPrestamo.generomulta}}</dd>
                
                <hr>
                <dd>
                     <div class="container">
                    <div class="floatLeft">
                    <table class="table table-hover">
            
            <thead>
                <h2>Libros:</h2>
                Agregar un libro al prestamo:
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                        <a class="btn btn-info" ui-sref="prestamoAgregarLibros({prestamoId: currentPrestamo.id})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                <tr>
                    <th>Id</th>    
                    <th>Name</th>  
                    <th>Autor</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="librito in currentPrestamo.libros">
                    <td id="{{$index}}-id"><a ui-sref="libroDetail({libroId: librito.id})">{{librito.id}}</a></td>
                    <td id="{{$index}}-name">{{librito.name}}</td>  
                    <td id="{{$index}}-autor">{{librito.autor}}</td> 
                    <td>
<a class="btn btn-info" ng-click="devolverLibroPrestamo(librito.id)"><span class="glyphicon glyphicon-book"></span>   Devolver</a>
</td>
                </tr>
            </tbody>
        </table>
                        </div>
        
        
                   
                    <div class="floatRight">
                    <table class="table table-hover">
            
            <thead>
                <h2>Videos:</h2>
                Agregar un video al prestamo:
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                        <a class="btn btn-info" ui-sref="prestamoAgregarVideos({prestamoId: currentPrestamo.id})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                <tr>
                    <th>Id</th>    
                    <th>Name</th>  
                    <th>Autor</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="videito in currentPrestamo.videos">
                    <td><a ui-sref="videoDetail({videoId: videito.id})">{{videito.id}}</a></td>
                    <td>{{videito.name}}</td>  
                    <td>{{videito.autor}}</td> 
                    <td>
<a class="btn btn-info" ng-click="devolverVideoPrestamo(videito.id)"><span class="glyphicon glyphicon-book"></span>   Devolver</a>
</td>
                </tr>
            </tbody>
                    </table> </div></div></dd>
        
         <dd><table class="table table-hover">
            
            <thead>
                <h2>Sala:</h2>
                Agregar una sala al prestamo:
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                        <a class="btn btn-info" ui-sref="prestamoAgregarSalas({prestamoId: currentPrestamo.id})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                <tr>
                    <th>Id</th>    
                    <th>Cantidad</th>  
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salita in currentPrestamo.salas">
                    <td>{{salita.id}}</td>
                    <td>{{salita.capacidad}}</td>  
                    <td>
<a class="btn btn-info" ng-click="devolverSalaPrestamo(salita.id)"><span class="glyphicon glyphicon-book"></span>   Devolver</a>
</td>
                </tr>
            </tbody>
        </table></dd>

            </dl>
        </div>
        
        
    </div>
        </div>
</div>
     <div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4 >No tiene permiso para realizar esta acción</h4>
                    <p >Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
    </div>