<div class="container-fluid">
    <div ng-if="isAuthenticated() && hasPermissions()" class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createEVideo">Crear un nuevo eVideo</label>
                <label ng-if="edit" id="editEVideo">Editar un eVideo</label></div>
            <div class="panel-body">
                <form ng-submit="createEVideo()" name="eVideo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eVideoName" class="col-sm-2">Titulo:</label>
                            <input id="eVideoName" required ng-model="objeto.name" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eVideoAutor" class="col-sm-2">Autor:</label>
                            <input id="eVideoAutor" required ng-model="objeto.autor" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eVideoDuracion" class="col-sm-2">Duración:</label>
                            <input id="eVideoDuracion" required ng-model="objeto.duracion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eVideoImagen" class="col-sm-2">Link de la imagen:</label>
                                <input id="eVideoImagen" required ng-model="objeto.imagen" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="eVideoDireccion" class="col-sm-2">Dirección:</label>
                            <input id="eVideoDireccion" required ng-model="objeto.direccion" class="col-sm-6"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!eVideo.$valid">

                            <div class="alert alert-warning">
                                <strong>Warning!</strong>
                                <p>All inputs are required*</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="eVideo.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="eVideosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4>No tiene permiso para realizar esta acción</h4>
                    <p>Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
</div>