<div class="container-fluid">
    <div class="panel-group">
            <div class="panel-heading"><label id="createPrestamo">Ingrese la informacion del prestamo</label>
            <div class="panel-body">
                <form ng-submit="updatePrestamo()" name="prestamo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestfechaInicio" class="col-sm-2">Fecha de Inicio (En formato: yyyy-mm-dd):</label>
                            <input id="prestfechaInicio" required ng-model="prestfechaInicio" this.style.color='#000' class="col-sm-6"/>
                                     
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestfechaFinal" class="col-sm-2">Fecha de Finalización (En formato: yyyy-mm-dd):</label>
                            <input id="prestfechaInicio" required ng-model="prestfechaFinal" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestexterno" class="col-sm-2">Externo:</label>
                            <input type="checkbox"   ng-model="prestexterno" class="col-sm-6">
                        </div>
                    </div>  
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestgeneroMulta" class="col-sm-2">Generó multa:</label>
                            <input type="checkbox"  ng-model="prestgeneroMulta" class="col-sm-6">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestretornado" class="col-sm-2">Retornado:</label>
                            <input type="checkbox"  ng-model="prestretornado" class="col-sm-6">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!prestamo.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Todavía hay campos sin llenar*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="prestamo.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="prestamoList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    
</div>