<div class="container-fluid">
    <div class="panel-group">
            <div class="panel-heading"><label id="createPrestamo">Ingrese la informacion del prestamo</label>
            <div class="panel-body">
                <form ng-submit="createPrestamo()" name="prestamo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestamoFechaInicio" class="col-sm-2">Fecha de Inicio:</label>
                            Dia:<input type="number" min="1" max="31" id="diaFechaInicio" required ng-model="diaFechaInicio" this.style.color='#000' width="48" /> 
                            Mes:<input type="number" min="1" max="12" id="mesFechaInicio" required ng-model="mesFechaInicio" this.style.color='#000'/> 
                            Año:<input type="number" min="2014" max="3000" id="anioFechaInicio" required ng-model="anioFechaInicio" this.style.color='#000'/>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestamoFechaFinal" class="col-sm-2">Fecha de Finalización:</label>
                            Dia:<input type="number" min="1" max="31" id="diaFechaFinal" required ng-model="diaFechaFinal" this.style.color='#000' width="48" /> 
                            Mes:<input type="number" min="1" max="12" id="mesFechaFinal" required ng-model="mesFechaFinal" this.style.color='#000'/> 
                            Año:<input type="number" min="2014" max="3000" id="anioFechaFinal" required ng-model="anioFechaFinal" this.style.color='#000'/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="prestamoExterno" class="col-sm-2">Externo:</label>
                            <input type="checkbox" ng-model="prestamoExterno" class="col-sm-6">
                        </div>
                    </div>            
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!prestamo.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Todavía hay campos sin llenar*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="prestamo.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="prestamoList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    
</div>