<div class="container-fluid">
    <div ng-if="isAuthenticated() && hasPermissions()" class="panel-group">
        <div class="panel panel-secondary">
            <div class="panel-heading"><label id="createBiblioteca">Ingrese la informacion del biblioteca</label>
                <label ng-if="edit" id="editBiblioteca">Edit Biblioteca</label></div>
            <div class="panel-body">
                <form ng-submit="createBiblioteca()" name="biblioteca">
                    <div class="form-group row">
                            <label for="bibliotecaName" class="col-sm-2">Nombre:</label>
                            <input id="bibliotecaName" required ng-model="bibliotecaName" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                            <label for="bibliotecaUbicacion" class="col-sm-2">Ubicacion:</label>
                            <textarea id="bibliotecaUbicacion" required ng-model="bibliotecaUbicacion" class="col-sm-6"></textarea>
                    </div>
                    <div class="form-group row">
                            <label for="bibliotecaImagen" class="col-sm-2">Imagen:</label>
                            <textarea id="bibliotecaImagen" required ng-model="bibliotecaImagen" class="col-sm-6"></textarea>
                    </div>            
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!biblioteca.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Todavía hay campos sin llenar*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="biblioteca.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="bibliotecasList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
<div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4 >No tiene permiso para realizar esta acción</h4>
                    <p >Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
</div>