<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-secondary">
            <div class="panel-heading"><label id="createUsuario">Ingrese la informacion del libro a crear.</label>
                <label ng-if="edit" id="editUsuario">Edit Usuario</label></div>
            <div class="panel-body">
                <form ng-submit="createLibro()" name="libro">
                    <div class="form-group row">
                            <label for="libroName" class="col-sm-2">Nombre del libro:</label>
                            <input id="libroName" required ng-model="libroName" class="col-sm-6"/>
                    </div>
                      <div class="form-group row">
                            <label for="libroAutor" class="col-sm-2">Nombre del autor:</label>
                            <input id="libroAutor" required ng-model="libroAutor" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                            <label for="libroAnioPublicacion" class="col-sm-2">Año de publicación:</label>
                            <textarea id="libroAnioPublicacion" required ng-model="libroAnioPublicacion" class="col-sm-6"></textarea>
                    </div>
                    <div class="form-group row">
                            <label for="libroNumeroPaginas" class="col-sm-2">Número de páginas:</label>
                            <textarea id="libroNumeroPaginas" required ng-model="libroNumeroPaginas" class="col-sm-6"></textarea>
                    </div>  
                     <div class="form-group row">
                            <label for="bibliotecaImagen" class="col-sm-2">Imagen:</label>
                            <textarea id="bibliotecaImagen" required ng-model="libroImagen" class="col-sm-6"></textarea>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!libro.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Todavía hay campos sin llenar*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="libro.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="librosBibliotecaList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

