<div class="container-fluid">
        <div class="panel-heading"><label>Agregar un video a un prestamo </label></div>       
<div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Capacidad</th>  
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vid in allSalasDisponibles">
                    <td id="{{$index}}-id">{{vid.id}}</td> 
                    <td id="{{$index}}-name">{{vid.capacidad}}</td>
                    <td id="{{$index}}-actions">
                    <td>
<a class="btn btn-info" ng-click="agregarSalaPrestamo(vid.id)"><span class="glyphicon glyphicon-plus-sign"></span></a>

</td>
                </tr>
            </tbody>
        </table>
</div>
    </div>
    