<div class="center-block well text-center">
    <div ng-if="isAuthenticated() && hasPermissions()">
    <h1>Are you sure?</h1>
    <button id="confirm-delete" ng-click="deleteMulta()" class="btn btn-danger">Delete</button>
    <a id="cancel-delete" ui-sref="multaList" class="btn btn-info">Cancel</a>
    </div>
     <div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4 >No tiene permiso para realizar esta acción</h4>
                    <p >Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
</div>
