<!DOCTYPE html>
<html ng-app="mainApp">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Biblioteca - By Quantum </title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <link rel="stylesheet" href="resources/css/styles.css" />

        <script src="src/app.js" type="text/javascript"></script> 
        <script src="src/http-interceptor.factory.js" type="text/javascript"></script> 

        <script src="src/modules/usuario/usuario.mod.js" type="text/javascript"></script>
        <script src="src/modules/usuario/usuarios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuario/new/usuarios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuario/update/usuario.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuario/delete/usuario.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/prestamo/prestamo.mod.js" type="text/javascript"></script>
        <script src="src/modules/prestamo/prestamos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/prestamo/new/prestamo.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/prestamo/delete/prestamo.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/prestamo/agregarLibros/prestamo.agregarLibros.ctrl.js" type="text/javascript"></script>
                <script src="src/modules/prestamo/agregarVideos/prestamo.agregarVideos.ctrl.js" type="text/javascript"></script>
                                <script src="src/modules/prestamo/agregarSalas/prestamo.agregarSalas.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/prestamo/update/prestamo.update.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/medioPago/medioPago.mod.js" type="text/javascript"></script>
        <script src="src/modules/medioPago/medioPago.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/medioPago/new/medioPago.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/medioPago/delete/medioPago.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/medioPago/update/medioPago.update.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/biblioteca/bibliotecas.mod.js" type="text/javascript"></script>
        <script src="src/modules/biblioteca/bibliotecas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/biblioteca/new/bibliotecas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/biblioteca/update/bibliotecas.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/biblioteca/delete/bibliotecas.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/libro/libros.mod.js" type="text/javascript"></script>
        <script src="src/modules/libro/libros.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/libro/new/libros.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/libro/delete/libro.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/libro/update/libro.update.ctrl.js" type="text/javascript"></script>
        
           <script src="src/modules/libroBiblioteca/librosBiblioteca.mod.js" type="text/javascript"></script>
        <script src="src/modules/libroBiblioteca/librosBiblioteca.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/libroBiblioteca/new/librosBiblioteca.new.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/video/videos.mod.js" type="text/javascript"></script>
        <script src="src/modules/video/videos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/video/new/videos.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/video/delete/video.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/video/update/video.update.ctrl.js" type="text/javascript"></script>
        
        <script src="src/modules/sala/salas.mod.js" type="text/javascript"></script>
        <script src="src/modules/sala/salas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/sala/new/salas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/sala/delete/sala.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/sala/update/sala.update.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/multa/multas.mod.js" type="text/javascript"></script>
        <script src="src/modules/multa/multas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/multa/new/multas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/multa/update/multas.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/multa/delete/multas.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/multa/pay/multas.pay.ctrl.js" type="text/javascript"></script>
        
        <script src="src/modules/blog/blogs.mod.js" type="text/javascript"></script>
        <script src="src/modules/blog/blogs.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blog/new/blogs.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blog/update/blogs.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blog/delete/blogs.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/comentario/comentarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/comentario/comentarios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentario/new/comentarios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentario/update/comentarios.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentario/delete/comentarios.delete.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/eBooks/eBooks.mod.js" type="text/javascript"></script>
        <script src="src/modules/eBooks/eBooks.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eBooks/new/eBook.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eBooks/update/eBook.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eBooks/delete/eBook.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/eVideos/eVideos.mod.js" type="text/javascript"></script>
        <script src="src/modules/eVideos/eVideos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eVideos/new/eVideo.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eVideos/update/eVideo.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/eVideos/delete/eVideo.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/eComentarios/eComentarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/eComentarios/eComentarios.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/reserva/reserva.mod.js" type="text/javascript"></script>
        <script src="src/modules/reserva/reservas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reserva/new/reserva.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reserva/delete/reserva.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reserva/agregarLibros/reserva.agregarLibros.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reserva/update/reserva.update.ctrl.js" type="text/javascript"></script>
        
         <script src="src/modules/login/login.mod.js" type="text/javascript"></script>
        <script src="src/modules/login/login.ctrl.js" type="text/javascript"></script>        
        <script src="src/modules/login/logout.ctrl.js" type="text/javascript"></script>
      
    </head>    
    <body class="span4">
        <div class="container-fluid">
            <div class="row mainHeader">
                <div class="col-md-1"> 
                    <img src="resources/images/LogoQuantum2.png" alt="logo" class="img-responsive logo"/>
                </div>
                <div class="col-md-6">
                    <h2 class="mainTitle">Sistema Bibliotecas </h2>
               
                </div>
                <div class="col-md-5">
                    <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
                        <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
                        <li class="nameUser">Hola, {{currentUser}}</li>
                        <li><a ui-sref="logout">Logout</a></li>
                    </ul>
                </div>

            </div> 
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li role="navigation"><a ui-sref="bibliotecasList">Bibliotecas</a></li>
                        <li role="presentation"><a ui-sref="salasList">Salas</a></li>
                        <li role="presentation"><a ui-sref="librosList">Libros</a></li>
                        <li role="presentation"><a ui-sref="videosList">Videos</a></li>
                        <li role="presentation"><a ui-sref="blogList">Blogs</a></li>
                        <li role="presentation"><a ui-sref="comentarioList">Comentarios</a></li>
                        <li role="presentation"><a ui-sref="usuarioList">Usuarios</a></li>
                        <li role="presentation"><a ui-sref="eBooksList">eBooks</a></li>
                        <li role="presentation"><a ui-sref="eVideosList">eVideos</a></li>
                        <ul class="nav navbar-right">
                          
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="span4" ui-view="mainView" align="left"></div> 
        </div>
        <br>
        <br>
        <div> 
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
            <div id="alertPanel" style="text-align: center"></div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-left">© Biblioteca - Quantum
                        <a ui-sref="bibliotecasList">Biblioteca</a>
                        <img src="resources/images/Logo_Uniandes.png" alt="logo" width="8%" /></a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>