
<div class="container-fluid">
<div ng-if="isAuthenticated() && hasPermissions()" >
    <div class="col-md-4">
        <div class="panel-heading"><label>Lista de usuarios </label></div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="usuarioCreate"><span class="glyphicon glyphicon-plus-sign">  Crear</span></a>
                    </div>
                </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Name</th>  
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarioRecords">
                    <td id="{{$index}}-id"><a ui-sref="usuarioDetail({usuarioId: usuario.id})">{{usuario.id}}</a></td>
                    <td id="{{$index}}-name">{{usuario.name}}</td>    
                    <td id="{{$index}}-actions">
<a class="btn btn-warning btn-sm" ui-sref="usuarioUpdate({usuarioId: usuario.id})"><span class="glyphicon glyphicon-edit"> Editar</span></a>
<a class="btn btn-danger btn-sm" ui-sref="usuarioDelete({usuarioId: usuario.id})"><span class="glyphicon glyphicon-trash"></span></a>

</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
   <div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4 >No tiene permiso para realizar esta acción</h4>
                    <p >Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
</div>

