<div>
<div ng-if="isAuthenticated() && hasPermissions()" class="panel panel-default"> 
    <div class="panel-body">
    <div class="row">
        <div class="col-md-3">
            <dl>                
                <dt>Id:</dt>
                <dd>{{currentUsuario.id}}</dd>
                
                <hr>
                <dt>Nombre:</dt>
                <dd>{{currentUsuario.name}}</dd>
          
                <hr>
                <dt>Telefono:</dt>
                <dd>{{currentUsuario.telefono}}</dd>
                
                <hr>
                <dt>Direccion:</dt>
                <dd>{{currentUsuario.direccion}}</dd>

            </dl>
        </div>
    </div>
        <ul class="nav nav-tabs">
                    <li role="presentation" class="active"> <a ui-sref="prestamoList({usuarioId: currentUsuario.id})">Prestamos</a></li>  
                     <li role="presentation" class="active"> <a ui-sref="reservaList({usuarioId: currentUsuario.id})">Reservas</a></li>  
                    <li role="presentation" class="active"> <a ui-sref="medioPagoList({usuarioId: currentUsuario.id})">Medios de Pago</a></li>

                    <li role="presentation" class="active"> <a ui-sref="multaList({usuarioId: currentUsuario.id})">Multas</a></li>
                </ul>
        </div>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div ui-view="childrenView"></div>
            </div>
        </div>
    
</div>
     <div class="center-block well text-center" ng-if="!isAuthenticated() || !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">Atención</h1>
                    <h4 >No tiene permiso para realizar esta acción</h4>
                    <p >Contacte al administrador para obtener autorización.</p>
                </div>
            </div>
        </div>
    </div>
</div>